@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

h1 {
	font-family: 'Merriweather', serif;
	font-size: 3vw;

	color: white;

}

h3 {
	font-family: 'Merriweather', serif;
	font-size: 2.5vw;
	font-style: italic;

	color: white;
}

h4 {
	font-family: 'Merriweather', serif;
	font-size: 2vw;

	color: white;
}

p {
	font-family: 'Open Sans Condensed', sans-serif;
	color: white;

	font-size: 1.5vw;
	line-height: 2.5vw;
}

a {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 2vw;
	text-decoration: none;
	line-height: 3vw;

	display: inline;
	padding: 0 2vw;

	color: white;
}

.one {
	height: 800px;
	width: 100%;

	background-color: rgb(32,32,64);
}

nav {
	height: 20%;
	width: 100%;
	
	background-color: rgb(32,32,64);

	display: inline;
	clear: both;
	float: left;

	text-align: left;
	padding-top: 1vw;
	padding-left: 1vw;
}

#stacked_logo {
	display: inline-block;
	clear: both;
}

header {
	height: 20%;
	width: 100%;

	background-color: rgb(32,32,64);

	text-align: center;

}

#sub_header {
	display: block;
}

#sub_header a:hover {
	background-color: rgba(126,70,232,0.5);
}

.one_spacer {
	height: 30%;
	width: 100%;

	background-color: rgb(32,32,64);

	clear: both;
}

.two {
	height: 600px;
	width: 100%;

	background-color: rgb(32,32,64);
}

.two_spacer {
	width: 50%;

	float: left;
	display: inline-block;
}

.paragraph_box {
	background-color: rgba(126,70,232,0.5);
	padding: 0.5vw;
	margin: 3vw;
}

img {
	width: 90%;
	padding: 5%
  	height: auto;
}

.three {
	height: 800px;
	width: 100%;

	background-color: rgb(32,32,64);
}

.three_spacer {
	height: 800px;
	width: 33.3%;

	float: left;
	display: inline-block;
}

iframe {
	height: 450px;
	width: 800px;
	padding: 5vw;
}